.card-center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.icon-center {
  padding-top: 1.6rem;
}

ion-note {
  font-size: 1rem;
}

/* .forgetModalClass {
  --border-radius: 16px;
} */

/* for desktop view */
@media (min-width: 768px) {
  .forgetModalClass {
    --border-radius: 16px;
    --height: 30vh;
  }
}
@media (max-width: 768px) {
  .forgetModalClass {
    --border-radius: 16px;
    --height: 60vh;
    --width: 90vw;
  }
}
